
body {
  margin: 0;

}

/* Disable ugly boxes around images in IE10 */
a img{
  border: 0px;
}

::-moz-selection {
  background-color: #b30816;
  color: #fff;
}

::selection {
  background-color: #b30816;
  color: #fff;
}

.android-search-box .mdl-textfield__input {
  color: rgba(0, 0, 0, 0.87);
}

.android-header .mdl-menu__container {
  z-index: 50;
  margin: 0 !important;
}


.mdl-textfield--expandable {
  width: auto;
}

.android-fab {
  position: absolute;
  right: 20%;
  bottom: -26px;
  z-index: 3;
  color: white !important;
}

.android-mobile-title {
  display: none !important;
}


.android-logo-image {
  height: 45px;
  width: 140px;
  padding-top: 10px;
}


.android-header {
  overflow: visible;
  background-color: white;
}

  .android-header .material-icons {
    color: #767777 !important;
  }

  .android-header .mdl-layout__drawer-button {
    background: transparent;
    color: #767777;
  }

  .android-header .mdl-navigation__link {
    color: #757575;
    font-weight: 700;
    font-size: 14px;
  }

  .android-navigation-container {
    /* Simple hack to make the overflow happen to the left instead... */
    direction: rtl;
    -webkit-order: 1;
        -ms-flex-order: 1;
            order: 1;
    width: 500px;
    transition: opacity 0.2s cubic-bezier(0.4, 0, 0.2, 1),
        width 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  }

  .android-navigation {
    /* ... and now make sure the content is actually LTR */
    direction: ltr;
    -webkit-justify-content: flex-end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    width: 800px;
  }

  .android-search-box.is-focused + .android-navigation-container {
    opacity: 0;
    width: 100px;
  }


  .android-navigation .mdl-navigation__link {
    display: inline-block;
    height: 60px;
    line-height: 68px;
    background-color: transparent !important;
    border-bottom: 4px solid transparent;
  }

    .android-navigation .mdl-navigation__link:hover {
      border-bottom: 4px solid #b30816;
    }

  .android-search-box {
    -webkit-order: 2;
        -ms-flex-order: 2;
            order: 2;
    margin-left: 16px;
    margin-right: 16px;
  }

  .android-more-button {
    -webkit-order: 3;
        -ms-flex-order: 3;
            order: 3;
  }


.android-drawer {
  border-right: none;
}

  .android-drawer-separator {
    height: 1px;
    background-color: #dcdcdc;
    margin: 8px 0;
  }

  .android-drawer .mdl-navigation__link.mdl-navigation__link {
    font-size: 14px;
    color: #757575;
  }

  .android-drawer span.mdl-navigation__link.mdl-navigation__link {
    color: #b30816;
  }

  .android-drawer .mdl-layout-title {
    position: relative;
    background: #b30816;
    height: 160px;
  }

    .android-drawer .android-logo-image {
      position: absolute;
      bottom: 16px;
    }

.big_grid {
  display: grid;
  grid-template-columns: 230px repeat(1, 1fr);
  grid-column-gap: 20px;
  /*min-height: 100%;*/
}
.grid {
  display: grid;
  grid-template-columns: repeat(3 , 1fr);
  grid-column-gap: 15px;
  height: 100%;
  padding-left: 100px;
}
.checkbox{
  padding: 10px;
}
h3 {
  margin: 0;
  padding: 0;
  color: #333;
  font-size: 13px;
  font-weight: bold;
  line-height: 16px;
  display: inline;
  cursor: pointer;
}
.b-list__header {
  padding: 30px 0 25px 20px;
}
.mdl-checkbox__label {
  font-size: 12px;
  color: #333;
  text-indent: -23px;
  vertical-align: inherit;
  word-wrap: inherit;
  padding: 0;
}
.menu {
  float: left;
}
.menu {
  float: left;
}
.menu {
  float: left;
}
.item {
  overflow: hidden;
}

/* .btn {
  text-align: left;
  display: block;
  padding: 6px 0 6px 20px;
  color: #1c1c1c;
  position: relative;
  font-weight: lighter;
  letter-spacing: 1px;
  text-decoration: none;
} */


.filter_buttons{
  float: right;
  padding-right: 5rem;
}

.mainTable {
  text-align: center;
}
a {
  text-decoration: none;
}
.b-title {
  background: 0;
  font-size: 0.9rem;
  font-weight: bold;
  color: #000000;
  padding: 10px 0 0 10px;
  display: inline;
}
.select {
  display: inline-block;
  max-width: 100%;
  /* make relative to allow absolute positioning of elements */
  position: relative;
  z-index: 4;
}
.select select {
  color: inherit;
  cursor: pointer;
  font-size: 0.75rem;
  max-width: 100%;
  outline: 0;
  border: 0;
  /* more padding on right to allow for drop arrow space */
  padding: 0.75rem 3rem 0.5rem 1rem;
  /* make relative to allow absolute positioning of elements */
  position: relative;
  /* hide webkit arrows */
  -moz-appearance: none;
  -webkit-appearance: none;
}

/* hide ms expand */
.select select::-ms-expand {
  display: none
}

/* add the down pointer, replacing the webkit version */
.select::after {
  right: 18px;
  z-index: 5;
  border: 3px solid;
  border-radius: 2px;
  border-right: 0;
  border-top: 0;
  content: "";
  display: block;
  height: 10px;
  margin-top: -7px;
  pointer-events: none;
  position: absolute;
  top: 50%;
  transform: rotate(-45deg);
  transform-origin: center;
  width: 10px;
}

/* change colour on hover */
.select:hover::after {
  border-color: #ff6a00;
}
.item_single {
  background-color: #fff;
  float: left;
  margin: 50px 20px 20px 40px;
  width: 205px;
  padding: 10px;
  height: 290px;
}
.item_single img {
  display: block;
  margin: auto;
}
.name_cart {
  font-size: 16px;
  display: block;
  border-bottom: 1px solid #ccc;
  margin: 0 0 10px 0;
  padding: 0 0 5px 0;
}
.add-to-cart {
  border: 1px solid #722A1B;
  padding: 4px 14px;
  background-color: #fff;
  color: #722A1B;
  text-transform: uppercase;
  float: right;
  margin: 5px 0;
  font-weight: bold;
  cursor: pointer;
  outline: none;
  text-decoration: none;
}
.pagination {
  padding-top: 70px;
  padding-bottom: 70px;
  margin: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: center;

}
.pagination li {
  text-decoration: none;
  font-size: 15px;
  font-weight: 600;
  display: block;
  width: 44px;
  height: 40px;
  line-height: 40px;
  text-align: center;
}
.pagination li a.arrow.active {
  -webkit-filter: grayscale(0);
  filter: grayscale(0);
  opacity: 1;
}
.pagination li a.arrow {
  border-radius: 3px;
  background-color: rgba(247, 247, 247, 0.2);
  -webkit-filter: grayscale(1);
  filter: grayscale(1);
  opacity: .4;
}
.pagination li a.active {
  color: #555555;
}
.pagination li a {
  text-decoration: none;
  display: block;
  width: 100%;
  height: 100%;
  color: #d2d2d2;
}
.pagination_block{


}
